datasoure:
  url: jdbc:h2:mem:testdb
  driver-class-name: org.h2.Driver
  username: sa
  password:

spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 4374057407-fcrel4fg7d277s9898nptt0h3svksvh9.apps.googleusercontent.com
            client-secret: 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
            scope:
              - profile
              - email
          naver:
            client-id: MNDk0tDL3Lydd30J5mcD
            client-secret: 4pzs3OoAv
            client-name: Naver
            redirect-uri: "http://localhost:8080/login/oauth2/code/naver"
            authorization-grant-type: authorization_code
            scope:
              - name
              - email
          kakao:
            client-id: ae177dc2ef0493789abb644182c44320
            client-secret: Q79eG7zybmVq2f663GwUTJu5kjeEvCIL
            client-name: Kakao
            client-authentication-method: POST
            redirect-uri: "http://localhost:8080/login/oauth2/code/kakao"
            authorization-grant-type: authorization_code
            scope:
              - profile_nickname
              - account_email

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
          kakao:
            authorizationUri: https://kauth.kakao.com/oauth/authorize
            tokenUri: https://kauth.kakao.com/oauth/token
            userInfoUri: https://kapi.kakao.com/v2/user/me
            userNameAttribute: id
  h2:
    console:
      enabled: true
      path: /h2-console
